@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #090909;
}

.scrollable {
  position: relative;
  overflow: hidden;
}

.scrollable::-webkit-scrollbar {
  width: 17px;
  display: block;
  position: absolute;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #202020;
  height: 24px;
}
