@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #090909;
}

.scrollable {
}

.scrollable::-webkit-scrollbar {
  width: 17px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #202020;
  height: 24px;
}
